.link {
	color: #e87d0d;
}

.link_active {
	color: #3c3c3c;
	text-decoration: none;
}

.header {
	height: 20px;
	border: 1px solid #1b6d85;
}

.header-nav {
	float: left;
}

.header-login {
	float: right;
}

.children-body {
	clear: both;
	width: 70%;
	height: 500px;
	margin: 20px auto;
	border: 1px solid #1b6d85;
}

.collapsible-group-header {
	cursor: pointer;
	border: 1px solid #bbbbbb;
}

.collapsible-group-content {
	background-color: #bbbbbb;
}

.expenses-table th,
.expenses-table td {
	padding: 5px 10px;
}

.month-expense-summary {
	border: 1px solid #bbbbbb;
}

.month-expense-summary-danger {
	color: #761c19;
}

.month-expense-summary-warning {
	color: #e87d0d;
}

.month-expense-summary-ok {
	color: #3e8f3e;
}

.label-cover {
	padding: 5px;
}

.label-cover-label-horizontal {
	float: left;
	margin-right: 20px;
}

.budget-settings-nav {
	float: left;
}
