.link {
	color: #e87d0d;
	cursor: pointer;
	text-decoration: underline;
}

.link_active {
	color: #3c3c3c;
	text-decoration: none;
	cursor: pointer;
}

.header {
	height: 20px;
}

.header-nav {
	float: left;
}

.header-login {
	float: right;
}

.children-body {
	clear: both;
	width: 70%;
	height: 800px;
	margin: 20px auto;
}

.collapsible-group-header {
	cursor: pointer;
}

.collapsible-group-content {

}

.expense-categories-table,
.month-expense-limits-table{
	margin-left: 20px;
}

.expenses-table th,
.expenses-table td,
.expense-categories-table th,
.expense-categories-table td,
.month-expense-limits-table td,
.month-expense-limits-table th{
	padding: 5px 10px;
	text-align: center;
}

.month-expense-summary {
}

.month-expense-summary-danger {
	color: #cc0000;
}

.month-expense-summary-warning {
	color: #e87d0d;
}

.month-expense-summary-ok {
	color: #3e8f3e;
}

.label-cover {
	padding: 5px;
}

.label-cover-label-horizontal {
	float: left;
	margin-right: 20px;
}

.budget-settings-nav {
	height: 500px;
	float: left;
}

.delete-icon {
	color: red;
	cursor: pointer;
}

.current-month-edit-container,
.current-year-edit-container {
	display: inline-block;
}

.current-year-edit-container {
	padding-left: 10px;
}

.current-year-edit {
	height: 30px;
	width: 70px;
}

.validation-info-container {
	font-size: 12px;
	color: red;
}
